<a href="https://colab.research.google.com/github/lrodrz/eye-of-cthulhu/blob/neuralnet/StockQuotes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [13]:
!pip install --upgrade pandas-datareader

Requirement already satisfied: pandas-datareader in /usr/local/lib/python3.7/dist-packages (0.9.0)
Collecting pandas-datareader
  Downloading pandas_datareader-0.10.0-py3-none-any.whl (109 kB)
     |████████████████████████████████| 109 kB 12.2 MB/s
Requirement already satisfied: requests>=2.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (2.23.0)
Requirement already satisfied: pandas>=0.23 in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (1.3.5)
Requirement already satisfied: lxml in /usr/local/lib/python3.7/dist-packages (from pandas-datareader) (4.2.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (2.8.2)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.23->pandas-datareader) (1.21.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.23->pandas-datareader) (1.15.0)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2021.10.8)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (2.10)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests>=2.19.0->pandas-datareader) (1.24.3)
Installing collected packages: pandas-datareader
  Attempting uninstall: pandas-datareader
    Found existing installation: pandas-datareader 0.9.0
    Uninstalling pandas-datareader-0.9.0:
      Successfully uninstalled pandas-datareader-0.9.0
Successfully installed pandas-datareader-0.10.0

In [1]:
#imports
import pandas_datareader.data as web  #make sure to upgrade install this 
import matplotlib.pyplot as plt
import pandas as pd
import datetime as dt

In [6]:
df = web.DataReader('SPY', 'yahoo', start='2022-03-01', end='2022-03-19')
df

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2022-03-01,437.170013,427.109985,435.040009,429.980011,137785900.0,428.648376
2022-03-02,439.720001,431.570007,432.369995,437.890015,117726500.0,436.533875
2022-03-03,441.109985,433.799988,440.470001,435.709991,105501700.0,434.360596
2022-03-04,433.369995,427.880005,431.750000,432.170013,113978200.0,430.831573
2022-03-07,432.299988,419.359985,431.549988,419.429993,137896600.0,418.131012
2022-03-08,427.209991,415.119995,419.619995,416.250000,164772700.0,414.960876
2022-03-09,429.510010,422.820007,425.140015,427.410004,116990800.0,426.086304
2022-03-10,426.429993,420.440002,422.519989,425.480011,93972700.0,424.162292
2022-03-11,428.769989,419.529999,428.119995,420.070007,95529600.0,418.769043
2022-03-14,424.549988,415.790009,420.890015,417.000000,95729200.0,415.708557
2022-03-15,426.839996,418.420013,419.769989,426.170013,106219100.0,424.850159
2022-03-16,435.679993,424.799988,429.890015,435.619995,144954800.0,434.270874
2022-03-17,441.070007,433.190002,433.589996,441.070007,102676900.0,439.704010
2022-03-18,444.859985,437.220001,438.000000,444.519989,106250400.0,444.519989